table, th, td {
   border: 1px solid black;
}
h1 {
	text-align: left;
	}
#logo {
	margin: 7px 7px 7px 7px ;
	width: 35 %;
	height: 250px;
	float: left
}
#header {
	display: block;
	width: 100 %;
	height: 275px;
}
#selectTowns {
	margin: 7px 7px 7px 7px ;
	display: block;
	border: 1px solid black;
	float: left;
	width: 35 %;
}
#result {
	margin: 7px 7px 7px 7px ;
	display: block;
	width: 75 %;
}
#stop, #drop {
	display:none;
}